---
export const prerender = false
---
<!DOCTYPE html>
<html lang={Astro.currentLocale}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Olivê</title>
</head>
<body>
    <h1>Aqui será um Blog de Olivê</h1>
</body>
</html>