---
export const prerender = true
---

<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
	</head>
	<body>
		<main>
			<header>
				<h1>Olá! Posso te ajudar?</h1>
			</header>
		</main>
	</body>
</html>
